header 
    nav 
        ul 
            li 
                a(href="/") Home
            li
                a(href="/login") Log In
            li
                a(href="/register") Register
            li
                a(href="/contact") Contact
             
            