body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100svh;
    font-size: larger;
    background-color: #ebeadc;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form+p, form p{
    text-align: center;
}

input, button{
    border-radius: 4px;
    border: unset;
    padding: 15px 30px;
    font-size: larger;
}

button{
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-weight: bold
    ;
}
.sr-only{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.error{
    color: rgb(204, 16, 16);
    font-size: small;
}

.hidden-msg{
    display: none;
    color: rgb(204, 16, 16);
    font-size: small;
}

/* HEADER */
header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #26345E;
    padding: 5px 45px;
}

/* NAVIGATION CENTERED */
.logo img{
    height: auto;
}
.navbar{
    display:flex;
    justify-content: center;
}

/* NAVIGATION LINKS */
.nav-links {
    list-style: none;
    display: flex;
    gap: 45px;
    padding: 0;
}
.nav-links li {
    display: inline;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.library-link a {
    color: white;
    text-decoration: none;;
    font-size: 15px;
}