*{
    font-family:"Outfit", sans-serif;
}

body{
    margin: 0;
    min-height: 100svh;
    font-size: larger;
    color: #26345E;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden; /* Prevent horizontal scroll */
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
}

.text-500{
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
}

.text-400, .form-group-input::placeholder{
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
}

.form-group-input{
    height: 10px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form+p, form p{
    text-align: center;
}

input, button{
    border-radius: 4px;
    border: unset;
    padding: 15px 30px;
    font-size: larger;
}

button{
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-weight: bold
    ;
}
.sr-only{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* HEADER */
header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #26345E;
    padding: 5px 45px;
}

/* NAVIGATION CENTERED */
.logo img{
    height: auto;
}
.navbar{
    display:flex;
    justify-content: center;
}

/* NAVIGATION LINKS */
.nav-links {
    list-style: none;
    display: flex;
    gap: 45px;
    padding: 0;
    transform: translateX(20px);
}
.nav-links li {
    display: inline;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}
.library-link a {
    color: white;
    text-decoration: none;;
    font-size: 16px;
    font-weight: 300;
}

/* SEARCH DROPDOWN */
#search-dropdown{
    position: relative; 
    top: 19%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%; 
    background-color: #354a87;
    color: white;
}
#search-dropdown .search-container input{
    width: 100%;
    color: white;
    background-color: #354a87;
    font-size: 18px;
    font-weight: 300;
    border: none;
    height: 120px;
    padding-top: 0;
}
/* PLACEHOLDER TEXT COLOR*/
#search-dropdown .search-container input::placeholder {
    color: white;
    padding: 0 20px;
    font-weight: 300;
}

/* BLURRY BACKGROUND */
#overlay{
    position: fixed;
    top: 206px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    z-index: 10;
}
/* HIDDEN STATE */
.hidden {
    display:none;
}

/* Log In */
.login-page, .register-page{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;
    gap: 50px;
}

.login-page{
    margin-top: 100px;
}

.register-page{
    margin-top: 50px;
}

.login-left-section, .login-left-section div{
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.login-left-section div{
    margin: 8px 0px;
}

.login-right-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateX(-100px);
}

.login-left-section{
    margin-right: 10px;
}

.linea {
    width: 2px;
    background-color: #26345E;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
}

.form-group input{
    width: 275px;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    border: 2px solid #26345E;
    border-radius: 14px;
}

.login-button-primary, .login-button-secondary:hover{
    border: 2px solid #EEA787;
    background-color: #EEA787;
    color: white;
}

.login-button-secondary, .login-button-primary:hover{
    border: 2px solid #EEA787;
    color: #EEA787;
    background-color: transparent;
}

.login-button-primary, .login-button-secondary{
    border-radius: 14px;
    cursor: pointer;
    width: 100%;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.login-form-div{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.login-form-p{
    margin: 0;
}

.login-forgotten-password{
    text-decoration: none;
    color: #26345E;
}

.login-form-other-options{
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 66px;
}

#register-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 299px;
}

#register-form p{
    margin: 0;
}

#register-form button{
    margin-top: 40px;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group-name{
    display: flex;
    gap: 10px;
    width: 299px;
    margin-bottom: 10px;
}

.input-name{
    width: 84%!important;
}

/* Bear crumb */ 
.breadcrumb {
    position: relative;
    width: 270px;  
    height: 40px; 
}

.step-circle {
    position: absolute;
    z-index: 1;
    top: 50%;              
    width: 27px;
    height: 27px;
    background-color: #26345E;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
    transform: translateY(-50%); 
}
  
.step-line {
    position: absolute;
    top: 50%;            
    width: 100%;
    height: 15px; 
    background-color: #d4d4d4;
    border-radius: 5px;
    transform: translateY(-50%); 
}

/* ALERT ERROR */
.error {
    font-size: small;
    background-color: #f8d7da;
    color: #721c24;            
    padding: 1em;
    border: 1px solid #f5c6cb;
    position: relative;
}
  
.hidden-msg {
    display: none;
}
  
.close-alert {
    position: absolute;
    top: 0;
    right: 10px;
    background: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
    color: inherit;
}