footer.footer-container
  .footer-row
    .footer-left
      p.text-500 Need help?    
        a.link-contact(href="/contact") Contact ↗
    .footer-right
      .footer-socials
        i.fa.fa-instagram
        i.fa-brands.fa-tiktok
 
  .footer-row.row-down
    .footer-left
      p.text-400 © Shelft. All rights reserved 2025
    .footer-right
      .footer-other-links
        a.text-400.link-footer(href="/privacy") Privacy policy
        p.text-400 |
        a.text-400.link-footer(href="/terms") Terms of Use