footer.footer-container
  .footer-row
    .footer-left
      p.text-500 Need help?
        a.link-contact(href="/contact") Contact ↗
    .footer-right
      .footer-socials
        i.fa.fa-instagram
        i.fa-brands.fa-tiktok
 
  .footer-row.row-down
    .footer-left
      p.text-400 © Shelft. All rights reserved 2025
    .footer-right
      .footer-other-links
        p.text-400 Privacy policy
        p.text-400 |
        p.text-400 Terms of Use