header
    a(href="/") Home
    nav.navbar 
        ul.nav-links 
            li
                a(href="/login") Sign In
            li
                a(href="/search") Search 
                //-a(href="/register") Register
            li
                a(href="/contact") Contact
    .library-link 
         a(href="/library") My Library
             
            