header
    a(href="/")
        img(src="/images/logo.svg", alt="Site Logo" width="35", height="auto")
    nav.navbar 
        ul.nav-links 
            li
                a(href="/login") Sign In
            li
                a(href="/search") Search 
                //-a(href="/register") Register
            li
                a(href="/contact") Contact
    .library-link 
         a(href="/library") My Library
             
            