extends ../layout/layout

block content 
  main(class="privacy-page")
    .legal-page
      h1 Privacy Policy
      p Effective Date: 01.01.2025

      p At Shelft, your privacy is a top priority. We are committed to maintaining your trust by handling your personal information with care and transparency. This policy outlines what data we collect, how we use it, and your rights.

      h2 Overview of Our Practices
      p We collect information to provide better services, improve your experience, and communicate effectively. This includes when you visit our website, create an account, or interact with us on other platforms.

      h2 Information We Collect
      
        li Personal Information: name, email, address, and contact details.    
        li Preference Data: books you like, genres followed, and reviews.
        li Technical Data: browser type, device ID, and IP address.
      
      h2 Your Rights and Control
      p You control how your data is used. You can:      
        li Update or correct your data.
        li Opt-out of marketing communications.
        li Request data deletion or a copy of your information.

      h2 Data Security
      p We implement industry-standard measures to protect your data from unauthorized access. Access to your data is restricted to authorized personnel only.

      h2 Third-Party Services
      p We may link to or use third-party services. These are governed by their own privacy policies, and we encourage you to review them independently.

      h2 Policy Updates
      p This Privacy Policy may be updated from time to time. We will inform you of significant changes through our website or via email.

      h2 Contact Us
      p If you have any questions or concerns about your privacy or this policy, please contact us:
      ul.contact-info
        li Email: support@shelft.com
        li Address: London, UK

      p Thank you for trusting Shelft with your information. We are dedicated to safeguarding your data and ensuring your experience is both safe and enjoyable.
