extends ../layout/layout

block content
  main.reset-password-page
    .reset-container
      h2 Reset your password
      p.text-400(style="margin-bottom: 30px")
        | Please enter your new password below to reset your account.

      form(id="reset-password-form")
        div.form-group
          label(for="new_password" class="sr-only") New Password
          input(type="password" id="new_password" name="new_password" placeholder="New Password" class="form-group-input")

        div.form-group
          label(for="confirm_password" class="sr-only") Confirm Password
          input(type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" class="form-group-input")

        button(type="submit" class="login-button-primary text-400") Reset Password

    div(class="error hidden-msg")
      span Error resetting your password.
      button(type="button" class="close-alert") &times;

  script(defer src="/js/reset-password.js")
