extends ../layout/layout

block content 
    main(class="terms-page")
        
        h1 Terms and Conditions

    //script(defer src="js/terms.js")
    //Just in case you need logic delete the // and create the terms.js file
